:root {
  --color-black: #527374;
  --color-black-active: #3a4456;
  --color-black-inactive: #5e7e7f;
  --color-accent: #1ede8a;
  --color-accent-light: #c0f5de;
  --color-alt: #009aa0;
  --color-alt-inactive: #00bf8f;
  --color-white: #ffffff;
  --color-off-white: #f6f6f8;
  --color-alt-white: #f0f1f3;
  --color-shadow: rgba(0, 34, 49, 0.2);
  --color-limelight: rgba(255, 255, 255, 0.75);
  --max-width: 75vmin;
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: IBM Plex Sans;
  background-color: var(--color-white);
  background: linear-gradient(
    0deg,
    var(--color-off-white),
    var(--color-alt-white)
  );
  color: var(--color-black);
}

nav {
  background-color: var(--color-accent);
  filter: drop-shadow(1px 1px 1px var(--color-shadow))
    drop-shadow(-8px -12px 20px var(--color-limelight));
}

.btn-outline-success {
  color: var(--color-alt);
}

.btn-outline-success:hover {
  background-color: var(--color-alt);
}

.btn-success {
  background-color: var(--color-alt);
  color: var(--color-white) !important;
  opacity: 90%;
}

.btn-success:hover {
  background-color: var(--color-alt);
  color: var(--color-white) !important;
  opacity: 100%;
}

.btn-success:active {
  background-color: var(--color-accent) !important;
  color: var(--color-white) !important;
}

.btn-outline-light.disabled img {
  opacity: 20% !important;
}

nav a {
  color: var(--color-white);
}

nav li {
  list-style: none;
}

nav li a {
  color: var(--color-alt);
}

h1 {
  font-weight: 900;
  color: var(--color-alt-inactive);
}

h3 {
  font-size: 1.15rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-weight: 600;
}

.div-product h3 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.div-product:hover h3 {
  color: var(--color-black);
}

a {
  color: var(--color-alt);
  text-decoration-skip-ink: auto;
  opacity: 90%;
}

a:hover,
a:focus {
  color: var(--color-alt);
  text-decoration-thickness: auto;
  text-decoration-color: var(--color-alt-inactive);
  text-decoration-thickness: 1.5px;
  opacity: 100%;
}

a.dropdown-item {
  margin: 0;
  color: var(--color-alt);
}

a.dropdown-item:hover {
  background-color: var(--color-alt);
  color: var(--color-white);
}

/*### List Product ###*/
.product-img img {
  width: 96px;
}

.website img,
.comment img,
.up img {
  width: 50px;
}

.summary {
  color: var(--color-black-inactive);
}

.div-product {
  border-radius: 2px;
  background: linear-gradient(
    145deg,
    var(--color-off-white),
    var(--color-alt-white)
  );
}

.div-product:hover {
  border-color: transparent !important;
  background: linear-gradient(
    145deg,
    var(--color-white),
    var(--color-off-white)
  );
  transform: scale3d(1.025, 1.025, 1);
  filter: drop-shadow(4px 12px 6px var(--color-shadow))
    drop-shadow(1px 1px 1px var(--color-shadow))
    drop-shadow(-8px -12px 20px var(--color-limelight));
  z-index: 10;
}

p {
  margin-bottom: 0 !important;
}

.category-separator{
    margin: 1.5rem 0rem;
    padding : 0.5rem 0rem;
    background-color: var(--color-accent);
    color: var(--color-white);
    filter: drop-shadow(1px 1px 1px var(--color-shadow))
      drop-shadow(-8px -12px 20px var(--color-limelight));
}

.separator {
    opacity: 40%;
}
img {
  opacity: 80%;
}

img:hover,
img:focus {
  opacity: 100%;
}

input,
select,
button,
textarea {
  background-color: var(--color-white);
  color: var(--color-alt) !important;
  border-radius: 2px;
  font-weight: 900 !important;
}

/*### Modal Product ###*/
.createdDiv {
  padding: 40px;
}

.modal-thumbnail {
  width: 50px;
  float: left;
}

.createdDiv h5 {
  flex-direction: row;
  margin-left: 50px;
}

@media (max-width: 990px) {
  .up-vote {
    margin-top: 2rem;
  }
  .product-img img {
    margin-bottom: 1rem;
  }
  .modal-thumbnail {
    position: absolute;
    top: 60px;
  }
}
